.header {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 16px;
  background: #aaaaaa;

  .title {
    flex: 1;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }

  .iconWrapper {
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
    margin-left: 16px;
    font-size: 32px;
  }
}
