.footer {
  @include mixins.alignCenter(flex);
  flex-direction: column;
  width: 100%;
  height: sizes.$FOOTER_HEIGHT;
  padding: 48px;
  margin-top: 96px;

  .iconWrapper {
    @include mixins.alignCenter(grid);
    font-size: sizes.$ICON_SIZE;
  }

  .phrase {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
  }

  .copyright {
    margin-top: 8px;
    font-size: 16px;
  }
}
